{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% block content %}


      <div class="container">
          <h1 class="Display-2">Login!</h1>

          <form method="POST">

            {{ form.hidden_tag() }}
          
            {% for field in form
              if field.widget.input_type != 'hidden' %}
            <p>
              {{ field.label }}
              {{ field (class_="form-control", autocomplete="off") }}
          
              {% for error in field.errors %}
              <span class="form-text text-danger">{{ error }}</span>
              {% endfor %}
            </p>
            {% endfor %}
          
            <button class="btn btn-success" type="submit">Login</button>
          
          </form>
          <hr>
          <p>Need to create an account? <a  class="btn btn-info" href="/register">Register</a></p>
          

      </div>

{% endblock %}